*{
    margin: 0%;
    
}


section {
    background-color: white;
    margin: auto;
    margin-top: 200px;
    max-width: 600px;
}
h2 {
    margin-left: 40px;
}

button{
    height: 50px;
    
}

input{
    margin: 20px;
    padding: 15px;
}

.rs{
    padding: 10px;
    display: flex;
    display: inline;
}

.resultado {
    display: flex;
    display: inline;
  
}

#x{
    width: 200px;
    height: 50px;
}

body{
    background-color: rgb(34, 34, 34);
}