header{
    background-color: rgb(124, 13, 228);
    padding: 20px;
    margin: -10px;
    color: white;
    text-align: center;
}



body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    background-color: rgb(213, 213, 217);
    text-align: center;
}

#dados{
    background-color: white;
    height: 780px;
    width: 1950px;
    margin: auto;
    border-radius: 15px;
    margin: 20px;
}

input{
    display: inline;
}

#nome{
    display: flex;
    padding: 20px;
    margin-left: 150px;
}

#nome input{
    height: 0px;
    margin-top: 25px;
    margin-left: 50px;
    padding: 20px;
    border: 1px solid rgb(53, 49, 49);
    border-radius: 10px;
}

#idade{
    display: flex;
    padding: 20px;
    margin-left: 150px;
}

#idade input{
    height: 0px;
    margin-top: 25px;
    margin-left: 50px;
    padding: 20px;
    border: 1px solid rgb(53, 49, 49);
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: black;
}

#senhar{
    display: flex;
    padding: 20px;
    margin-left: 150px;
}

#senhar input{
    height: 0px;
    margin-top: 25px;
    margin-left: 50px;
    padding: 20px;
    border: 1px solid rgb(53, 49, 49);
    border-radius: 10px;
}

#emailcliente {
    display: flex;
    padding: 20px;
    margin-left: 150px;
}

#emailcliente input{
    height: 0px;
    margin-top: 25px;
    margin-left: 50px;
    padding: 20px;
    border: 1px solid rgb(53, 49, 49);
    border-radius: 10px;
}

button{
    height: 80px;
    width: 180px;
    margin-top: 40px;
    background-color: rgb(124, 13, 228);
    color: white;
    font-size: 20pt;
    border: none;
    border-radius: 20px;
}
button:hover{
    border: 1px solid black;
    color: black;
}