body{
    background-color: rgb(4, 59, 4);
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    height: 200px;
   
    margin: 50px;
}

#cr7{
   
    display: inline;
}


#messi{
    display: inline;
}





